@import url("https://fonts.googleapis.com/css?family=Roboto:300italic,400");

* {
	margin: 0;
	padding: 0;
	font-family: Roboto, Arial;
	font-size: 16px;
}

ul {
	list-style: none;
}

input[type="text"],
input[type="password"],
input[type="submit"],
select {
	padding: 2px 5px;
}

body {
	width: 1000px;
	margin: auto;
	margin-top: 60px;
	background: url(images/background.png) no-repeat center fixed;
	background-size: cover;
}

body>header {
	position: relative;
}

body>header>section.module {
	position: absolute;
	right: 0px;
	bottom: 0px;
	text-align: right;
	/*background-color: rgba(41,121,255,0.3);*/
	background-color: rgba(255,255,255,0.6);
	border: 1px rgba(0,0,0,0.2) solid;
	padding: 10px;
	border-radius: 5px;
}

body>header>section.banner>h1 {
	margin-left: 80px;
	font-size: 80px;
	line-height: 0.8;
	font-weight: normal;
}

body>header>section.banner>h2 {
	margin-left: 120px;
	font-size: 26px;
	font-weight: normal;
	font-style: italic;
}

body>header>section.module>form {
	margin-top: 10px;
}

body>main {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: rgba(255,255,255,0.9);
	padding: 40px;
	border-radius: 20px;
}

body>main>header {
	margin-bottom: 20px;
}

body>main>header h2 {
	font-size: 30px;
}

body>main>header h3 {
	font-size: 20px;
	font-style: italic;
	font-weight: 400;
}

body>main>section>article>h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

body>main>section>article ul.photos>li {
	display: inline-block;
	background-color: white;
	-webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.6);
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.6);
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

body>main>section>article ul.photos>li>img {
	-moz-box-sizing: border-box;
  	box-sizing: border-box;
	width: 140px;
	height: 120px;
	padding-left: 140px;
}

body>main>section>article ul.photos>li>p {
	margin-top: 10px;
	font-family: Indie Flower, Roboto, Arial;
	font-weight: bold;
	text-align: center;
	font-size: 18pt;
	line-height: 1;
}

body>main>section>article>ul>li {
	margin-top: 5px;
}

section#rechercheSection>p,
section#rechercheSection>select {
	display: inline;
}

section#rechercheSection>select {
	margin-left: 10px;
}

form {
	margin-top: 20px;
	display: inline-block;
	text-align: right;
}

section#rechercheSection>form {
	display: none;
}

section#rechercheSection>form.show {
	display: inline-block;
}

table.formulaire label {
	display: block;
	text-align: right;
	margin-bottom: 10px;
}

table.formulaire input {
	margin-left: 20px;
	margin-bottom: 10px;
}

section#rechercheSection>form table tr>td:first-child {
	width: 100px;
}

p.erreurConnexion {
	color: red;
	margin-top: 10px;
}